$white: #fefefe;

$social-colors: (
	facebook: #3b5998,
	twitter: #55acee,
	linkedin: #007bb5,
	google: #dd4b39,
	github: #000000,
	gitlab: #292961,
	bitbucket: #172B4D,
	pinterest: #cb2027,
	line: #00e461,
	reddit: #ff4500,
	whatsapp: #4dc247,
	email: #333,
	sms: #444,
	instagram: #e95950,
	snapchat: #fffc00,
);

@each $element, $color in $social-colors {
	.#{"" + $element}.button {
		background-color: $color;
		color: $white;

		&:hover {
			background-color: darken($color, 20%);
			color: darken($white, 10%);
		}
	}

	a.#{"" + $element} {
		color: $color;

		&:hover {
			color: darken($color, 20%);
		}
	}
}